
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg">
    <header class="hero">
      <h1>Star Tribune</h1>
       <h1>Top Executives</h1>

        <h1><span class="sub-title">The 27<sup>th</sup> annual report</span>
      </h1>

      <p class="lead container-md">The Star Tribune annually looks at the compensation of the highest paid CEOs of Minnesota public companies. Last year the 50 executives had total compensation of $433.9 million an increase of 25 percent over the amount they took home the previous year.</p> 
<p class="lead container-md">Good corporate performance helped 42 of the CEOs earn annual bonuses and a strong stock market in 2017 helped increase the value of long-term equity awards: 17 executives exercised stock options during the past year worth a collective $163.9 million, and 39 of the CEOs realized $138.2 million from the value of  restricted stock that vested during the year.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/patrick-kennedy/10645186/">Patrick Kennedy</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2018-06-17T16:00:00">June 17, 2018</time>
      </div>

      <div class="sharing-placeholder">
        <!-- share -->
      </div>
    </header>

    <main>
      <div class="controls">
        <h1 aria-label="controls-form" class="sr-only">Controls to adjust list of executives</h1>

        <form id="controls-form">
          <div class="inline-form-element">
<!--            <label for="show-list-type">Show:</label>-->
            <div id="show-list-type" role="group">
                <label for="show-list-type">Show:</label>
              <button type="button" data-value="" class="active">Top 100 CEOs</button>
              <button type="button" data-value="top-female">Top female executives</button>
              <button type="button" data-value="top-non-ceo">Top non-CEOs</button>
            </div>
          </div>

          <div class="inline-form-element">
<!--            <label for="filter-category">Filter:</label>-->
            <div id="filter-category" role="group">
                <label for="filter-category">Filter:</label>
              <button type="button" data-value="" class="active">All</button>

              {#each categories as category, ci}
                <button
                  class="category-color-{ ci + 1 }"
                  type="button"
                  data-value="{ kebabCase(category) }">{ category }</button>&nbsp;
              {/each}
            </div>
          </div>
        </form>
      </div>

      <h1 aria-label="executives-list" class="sr-only">List of executives</h1>
      <div class="executives-list">
        {#each ceoTop as c}
          <Executive officer="{ c }" { publishYear } { categories } executiveClass="executive-ceo" />
        {/each}

        <h1 class="non-ceo-title">Non-CEO executives</h1>

        {#each nonCeoTop as n}
          <Executive officer="{ n }" { publishYear } { categories } executiveClass="executive-non-ceo" />
        {/each}
      </div>
    </main>

    <footer class="container-md">
      <div class="credits">
<p><b>The Star Tribune 50</b> is a measure of the largest publicly held companies with headquarters in Minnesota ranked by revenue. Another 23 companies were considered but whose revenues were too small for the list. Data for the 50 largest companies also includes each company&rsquo;s net income before extraordinary item &mdash; many companies adjusted net income based on corporate tax reform, assets and market capitalization. Data for the list was taken from Thomson Reuters.</p>

<p>The list excludes public companies that do not trade on major exchanges, closely held companies, which usually do not disclose financial data, cooperatives and fraternal benefits organizations. Companies that closed acquisitions in 2018 but did not file year-end results were also excluded. Companies who have management headquarters in Minnesota, including Medtronic, Pentair and Winnebago Industries are included.</p>

<p><b>Methodology:</b> Information on the largest CEO pay packages comes from the company's annual proxy or other corporate filing with the Securities and Exchange Commission.
The Star Tribune counts total compensation as the sum of salary, bonus, cash-based incentive plan compensation, miscellaneous compensation, and the value of exercised stock options and restricted stock that has vested during the year.</p>

<p>The SEC prescribes companies to disclose executive compensation in they summary compensation table of the proxy as salary, bonus, cash-based incentive plan compensation, miscellaneous compensation, and the grant date value of new stock options and restricted stock awards.</p> 

<p>The newly required CEO pay ratio is based on the CEO’s total compensation from the summary compensation table as prescribed by the SEC.. Due to timing or company size half the company's have not yet reported their CEO pay ration and median employee compensation.</p>

        <p>Star Tribune graphic: Patrick Kennedy, Alan Palazzolo, Jamie Hutt, David Braunger, Billy Steve Clayton</p>
      </div>
    </footer>
  </section>
</div>

<script>
  import _ from "lodash";
  import Executive from "./_content-executive.svelte.html";

  export default {
    components: {
      Executive
    },

    computed: {
      // Top 50
      ceoTop: ({ executives, publishYear }) => {
        return _.take(
          _.sortBy(executives.ceo, o => o.salaries[publishYear].rank),
          50
        );
      },

      // Top non-xeo
      nonCeoTop: ({ executives, publishYear }) => {
        return _.take(
          _.sortBy(executives.nonceo, o => o.salaries[publishYear].rank),
          25
        );
      },

      // All categories
      categories: ({ executives }) => {
        return _.filter(_.uniq(_.map(executives.ceo, c => c.company.category)));
      }
    },

    helpers: {
      kebabCase: _.kebabCase
    },

    // Default data
    data: () => {
      return {
        publishYear: 2018
      };
    }
  };
</script>
