
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg">
    <header class="hero">
      <h1>
        Star Tribune<br>
        <span class="sub-title">The 27<sup>th</sup> Top Executives</span>
      </h1>

      <p class="lead container-md">A strong economy helped the 50 largest public companies in Minnesota to increase overall revenues 6.6 percent, better than 2016 when collective revenues grew 4.4 percent.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/patrick-kennedy/10645186/">Patrick Kennedy</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2018-06-17T16:00:00">June 17, 2018</time>
      </div>

      <div class="sharing-placeholder">
        <!-- share -->
      </div>
    </header>

    <main>
      <div class="controls">
        <h1 aria-label="controls-form" class="sr-only">Controls to adjust list of executives</h1>

        <form class="inline-form" id="controls-form">
          <div class="inline-form-element">
            <label for="show-list-type">Show:</label>
            <div id="show-list-type" role="group">
              <button type="button" data-value="" class="active">Top 100 CEOs</button>
              <button type="button" data-value="top-female">Top female executives</button>
              <button type="button" data-value="top-non-ceo">Top non-CEOs</button>
            </div>
          </div>

          <div class="inline-form-element">
            <label for="filter-category">Filter:</label>
            <div id="filter-category" role="group">
              <button type="button" data-value="" class="active">All</button>

              {#each categories as category, ci}
                <button class="category-color-{ ci + 1 }" type="button" data-value="{ kebabCase(category) }">{ category }</button>
              {/each}
            </div>
          </div>
        </form>
      </div>

      <h1 aria-label="executives-list" class="sr-only">List of executives</h1>
      <div class="executives-list">
        {#each ceoTop as c}
          <Executive officer="{ c }" { publishYear } { categories } executiveClass="executive-ceo" />
        {/each}

        <h1 class="non-ceo-title">Non-CEO executives</h1>

        {#each nonCeoTop as n}
          <Executive officer="{ n }" { publishYear } { categories } executiveClass="executive-non-ceo" />
        {/each}
      </div>
    </main>

    <footer class="container-md">
      <div class="credits">
        <p>The Star Tribune 50 is a measure of the largest publicly held companies with headquarters in Minnesota ranked by revenue. Another 23 companies were considered but whose revenues were too small for the list. Data for the 50 largest companies also includes each company&rsquo;s net income before extraordinary item &mdash; many companies adjusted net income based on corporate tax reform, assets and market capitalization. Data for the list was taken from Thomson Reuters.</p>

        <p>The list excludes public companies that do not trade on major exchanges, closely held companies, which usually do not disclose financial data, cooperatives and fraternal benefits organizations. Companies that closed acquisitions in 2018 but did not file year-end results were also excluded. Companies who have management headquarters in Minnesota, including Medtronic, Pentair and Winnebago Industries are included.</p>

        <p>Star Tribune graphic: Patrick Kennedy, Alan Palazzolo, Jamie Hutt, David Braunger, Billy Steve Clayton</p>
      </div>
    </footer>
  </section>
</div>

<script>
  import _ from "lodash";
  import Executive from "./_content-executive.svelte.html";

  export default {
    components: {
      Executive
    },

    computed: {
      // Top 50
      ceoTop: ({ executives, publishYear }) => {
        return _.take(
          _.sortBy(executives.ceo, o => o.salaries[publishYear].rank),
          50
        );
      },

      // Top non-xeo
      nonCeoTop: ({ executives, publishYear }) => {
        return _.take(
          _.sortBy(executives.nonceo, o => o.salaries[publishYear].rank),
          25
        );
      },

      // All categories
      categories: ({ executives }) => {
        return _.filter(_.uniq(_.map(executives.ceo, c => c.company.category)));
      }
    },

    helpers: {
      kebabCase: _.kebabCase
    },

    // Default data
    data: () => {
      return {
        publishYear: 2018
      };
    }
  };
</script>
