/**
 * Filters and sorting.
 */

#controls-form {
  padding-bottom: 1em;
  border-bottom: 3px solid #676767;
  margin-bottom: 2em;
  text-align: center;

  .inline-form-element {
    display: flex;

    label {
      display: inline-block;
      margin-right: 1em;
    }

    button {
      display: inline-block;
      padding: 0.5em;
    }
  }
}

.controls {
  margin-bottom: 1.5em;

  button {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    color: $color-text;
    border: 2px solid transparent;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 0.3);
    }
  }

  #show-list-type {
    button {
      background-color: #BBBBBB;

      &:hover {
        background-color: darken(#BBBBBB, 20%);
        border: 2px solid #767676;
      }

      &.active {
        color: #FFFFFF;
        background-color: #454545;
      }
    }
  }

  #filter-category {
    button {
      background-color: $color-white;

      &.active {
        background-color: $color-white;
        border: 2px solid #767676;
      }
    }

    @each $c in $category-colors {
      $i: index($category-colors, $c);

      .category-color-#{$i} {
        background-color: $c;
        border: 2px solid transparent;

        &.active,
        &:hover {
          background-color: darken($c, 20%);
          border: 2px solid #767676;
        }
      }
    }
  }
}
