/**
 * Styles for list.
 */

.non-ceo-title {
  padding: 0;
  font-size: 2em;
  margin-bottom: 1em;
  display: none;
}

.executive {
  padding-bottom: 2em;
  border-bottom: 2px solid #E8E8E8;
  margin-bottom: 2em;
  list-style: none;

  &.executive-non-ceo {
    display: none;
  }

  p {
    @include font-styles("benton-sans");

    margin-bottom: 1em;
    letter-spacing: -0.2px;
  }

  @each $c in $category-colors {
    $i: index($category-colors, $c);

    &.category-color-#{$i} .rank {
      background-color: $c;
    }
  }

  .rank {
    // width: 100%;
    @include font-styles("popular-light");

    font-size: 4em;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 0.5em;
    text-align: center;
    padding: 0.25em;
    border-radius: 0.1em;
    background-color: map-get($grays, "lighter");

    @media only screen and (max-width: map-get($breakpoints, "sm")) {
      font-size: 2.5em;
      font-weight: bold;
    }
  }

  h2 {
    font-size: 2.2em;
    padding: 0;
    margin: 0;
    line-height: 1em;
    padding-bottom: 0.2em;
  }

  .officer-title {
    @include font-styles("benton-sans");

    font-size: 1.25em;
    line-height: 1.25em;
    color: #999999;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .data-row {
    li {
      margin-bottom: 0.5em;
    }

    .main-financial-value {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}
